html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.zoomhover
{
  margin-left: 10px;
  transition: transform .22s linear;
}
.zoomhover:hover
{
  transform: scale(1.1);
  box-shadow: 4px 4px 8px 2px grey;
}
/* works on firfeox */
.scrollstyler
{
    scrollbar-width: thin;
    scrollbar-color: grey black;
}
/* supported in chrome, edge, safari only */
.scrollstyler::-webkit-scrollbar
{
    width: 11px;
} 
.scrollstyler::-webkit-scrollbar-track
{
    border: 2px solid white;
    border-radius: 16px;
    background-color: grey;
}
.scrollstyler::-webkit-scrollbar-thumb
{
    width: 11px;
    background-color: white;
    border-radius: 15px;
    border: 1px solid black;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: black;
    background: white;
  }
}
